.word {
  cursor: pointer;
}

span.tooltip {
  background-color: #fff;
  border: #dcdcdc solid 1px;
  color: #333;
  padding: 9px 17px;
  position: absolute;
  margin-top: 20px;
  margin-left:-60px;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.spinner {
    -webkit-animation: rotating 2s linear infinite;
}
